<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 class=" text-9xl text-center pt-10">Page Not Found!</h1>
    <h1 class=" text-9xl text-center pt-10">Try again</h1>
    

<%- include('includes/end.ejs') %>